go 1.21.6

use (
	./01hello
	./02variables
	./03userinput
	./04conversion
	./05mytime
	./06mypointers
	./07arrays
	./08slice
	./09maps
	./10structs
	./11ifelse
	./12switch
	./13loops
	./14functions
	./15methods
)
